<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">Rails Four Oh Blog</h3>
      </div>
      <div class="container-narrow">
        <div class="row-fluid">
          <div class="span8"><%= yield %></div>
          <div class="span4"><%= render 'layouts/sidebar' %></div>
        </div>
      </div>
  </body>
</html>
